{% import "makina-projects/ckan/_macros/metadata.jinja" as metadata with context %}
{% import "makina-projects/ckan/_macros/default.jinja" as defaults with context %}
{% set name = metadata.name %}
{% set root = metadata.root %}
{% set project_root = metadata.project_root %}
{% set salt_root = metadata.salt_root %}
{% set project_branch = metadata.project_branch %}
{% set salt_branch = metadata.salt_branch %}
{% set url = metadata.url %}
{% set data = defaults.defaultsData %}
