{% import  "makina-projects/ckan/_macros/metadata.jinja" as metadata with context %}
# SECRET: openssl rand -base64 32
# UUID: python -c "import uuid;print uuid.uuid4()"
{% set ckanStepOne = salt['grains.filter_by']({
    'dev': {
      'data_dir': metadata.project_root + '/data',
      'user': 'ckan',
      'host': '0.0.0.0',
      'port': '5000',
      'debug': 'true',
      'instance1_host': '5001',
      'instance2_host': '5002',
      'instance3_host': '5003',
      'instance4_host': '5004',
      'beaker_secret': 'cRVs3knGuKnSVkgJjXJU8utb0LzfqkwXLgzvhjN',
      'uuid': '96f97f93-edd7-4819-a5b2-c87be33c8644',
      'solr_url': 'http://127.0.0.1:8080/solr/ckan_default',
      'sqlalchemy_url': 'postgresql://%{db_user}s:${db_password}s@%{db_host}s:%{db_port}s',
      'feeds_authority_name: None,
      'feeds_date: None,
      'feeds_author_name: None,
      'feeds_author_link: None,
      'dbs' : {
        'default': {
            'db_host': 'localhost',
            'db_port': '5432',
            'db_name': 'ckan',
            'db_user': 'ckan',
            'db_tablespace': 'pg_default',
            'db_password': 'superS3CR3T',
          },
      },
      'sites': [
          {'name': 'ckan_default',},
      ],
      'who_log_level': 'warning',
      'root_log_level': 'WARNING',
      'ckan_log_level': 'INFO',
      'ckanext_log_level': 'DEBUG',
      'plugins': 'stats text_preview recline_preview',
      'site_url': 'http://ckan.local',
      'site_title' : 'CKAN (saas)',
      'site_logo' : '/base/images/ckan-logo.png',
      'favicon' : '/images/icons/ckan.ico',
      'site_description' : '',
      'gravatar_default' : 'identicon',
      'preview.direct' : 'png jpg gif',
      'preview.loadable' : 'html htm rdf+xml owl+xml xml n3 n-triples turtle plain atom csv tsv rss txt json',
      'locale_default'       : 'fr',
      'locale_order'         : 'en pt_BR ja it cs_CZ ca es fr el sv sr sr@latin no sk fi ru de pl nl bg ko_KR hu sa sl lv',
      'locales_offered'      : '',
      'locales_filtered_out' : '',
      'anon_create_dataset'                   : False,
      'create_unowned_dataset'                : True,
      'create_dataset_if_not_in_organization' : True,
      'user_create_groups'                    : True,
      'user_create_organizations'             : True,
      'user_delete_groups'                    : True,
      'user_delete_organizations'             : True,
      'create_user_via_api'                   : False,
      'create_user_via_web'                   : True,
      'cache_enabled'                   : False,
      'cache_expires': None,
      'cache_static_max_age': None,
    },
    'prod': {
      'debug': 'false',
      'cache_enabled'                   : True,
      'cache_expires': 86400,
      'cache_static_max_age': 86400,
    }
  },
  grain='default_env',
  default= 'dev'
) %}
{% set ckanStepTwo = salt['grains.filter_by']({
    'Debian': {
    },
    'RedHat': {
    },
  },
  grain='os_family',
  merge=ckanStepOne
) %}
# FINAL STEP: merge with data from pillar
{% set defaultsData=salt['mc_utils.dictupdate'](
  ckanStepTwo ,
  salt['pillar.get'](metadata.name+'-default-settings',{})) %}

