{% set default_env = salt['grains.get']('default_env', dev) %}
{% set name = 'ckan' %}
{% set root = '/srv/projects' %}
{% set salt_root = root + '/' + name + '/salt' %}
{% set project_root = root + '/' + name + '/project' %}
{% set salt_branch = name + "-salt" %}
{% set project_branch = name + "-project" %}
{% set url="https://github.com/makinacorpus/salt-project.git" %}
